# Nomad Client Configuration
client {
  enabled = true
  servers = ["127.0.0.1"]

  # Directory where dynamic host volumes are created
  host_volumes_dir = "/opt/nomad/host_volumes"
}

plugin_dir = "{{ nomad_plugin_dir }}"
